<div class="contrainer-fluid justify-content-center wh-100 shadow p-5" style="margin-top:50px;" id="contenedor1">
    <div class="row ">
   
        <div class="col-4  p-5" id="contenendor2">

            <p class="texto">
            <b>Escuela:</b> Universidad Veracruzana
            <br>
            <b>Nombre(s):</b> José Pedro 
            <br>
            <b>Apellidos:</b> Zarate Espinoza 
            <br>
            <b>Materia:</b> Pruebas de Software
            <br>
            <b>Docente:</b> Centeno Tellez Adolfo
            <br>
            <b>Semestre:</b> Quinto semestre
            <br>
            </p>
        </div>
        <div class="col-8 bg-informacion contenedor3">
            
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Información</a>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Ejemplo</button>
                <button class="btn btn-primary" >Calculadora</button>
              </p>
              <div class="row ">
                <div class="col-12" >
                  <div class="collapse multi-collapse" id="multiCollapseExample1" >
                    <div class="card card-body">
                      El área de un triángulo es igual a base por altura partido por 2.
                      <br>
                      La altura es la recta perpendicular trazada desde un vértice al lado opuesto (o su prolongación).
                    </div>
                  </div>
                </div>

                <div class="col-12 ">
                    <div class="collapse multi-collapse" id="multiCollapseExample2" >
                      <div class="card card-body">
                       <img src="../../assets/imagenes/area_triangulo.jpg" alt="Ejemplo del area de un triangulo">
                      </div>
                    </div>
                  </div>
              </div>

              <br>
        </div>
    </div>
</div>
